@font-face {
    font-family: Roboto;
    src: url( "/media/Roboto/Roboto-Light.ttf");
}

body{
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body > h1{
    font-size: 50px;
    margin-bottom: 10px;
}

#wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#links{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 60px;
}

a{
    color: rgb(89, 95, 236);
    text-decoration: none;
}

a:hover{
    color: rgb(50, 24, 69);
}


.intro{
    
    font-family: Roboto;
    font-size: 16px;
    width: 50%;
    margin-bottom: 50px;
}

main{
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
}

main > p{
    font-family: Roboto;
    font-size: 16px;
}

/* INTERACTIVE PART */


.actions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.optionsContainer{
    display: flex;
     justify-content: space-between;
}

.optionsContainer > button{
    width: 150px;
    height: 50px;
    font-size: 18px;
}

button {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  margin: 0;
  padding: 14px;
   margin: 30px 10px 30px 0px;
  transition: all 250ms;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

button:disabled {
     background-color: #F0F0F1;
}

button:disabled, button:disabled:hover, button:disabled:active{
    transform: translateY(0px);
    background-color: #F0F0F1;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid rgba(0, 0, 0, 0.1);
}


.hoverGroupd rect{
    fill: white;
    stroke: black;
}

.hoverGroupd text{
    fill: black;
}

.on{
    background-color: rgb(89, 95, 236);
    color: white;
    border-radius: 6px;
}

.selected{
   background-color: rgb(89, 95, 236);
    color: white;
    border-radius: 6px;
} 

