@font-face {
    font-family: Roboto;
    src: url( "/media/Roboto/Roboto-Light.ttf");
}

body{
    font-family: Roboto;
}

.on{
    background-color: rgb(105, 227, 105);
    border-radius: 6px;
}

body > h1{
    font-size: 50px;
    margin-left: 40px
}

#wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.actions{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options{
    display: flex;
}

.options > button{
    width: 140px
}

button {
    padding: 5px;
    margin: 30px 10px 30px 0px;
    font-family: Roboto;
    font-size: 15px;
}

.hoverGroupd rect{
    fill: white;
    stroke: black;
}

.hoverGroupd text{
    fill: black;
}
