body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divForButtonsFirst{
    margin-bottom: 20px;
}

.divForButtonsFirst > button{
    margin-left: 20px;
}


.divForButtonsSecond{
}

.divForButtonsSecond > button{
    margin-left: 20px;
}
